.birthday-image2{
    padding-top: 20px;
}

.sec-details-3{
    padding-top: 134px;
    color: black;
    font-size: 19px;
    font-family: poppins;
}

.birthday-image3{
    padding-left: 68px;
}

.birthday-image4{
    padding-top: 0px;
    padding-left: 2px;
}

.birthday-details1{
    padding-top: 30px;
    background: #f4f4f4;
}

.birthday-details2{
    background: #f4f4f4;
}

.birthday-image5{
    padding-top: 30px;
}

.birthday-image6{
    padding-top: 30px;
    padding-left: 66px;
}