.hero-image{
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:'Oswald', sans-serif ;
    font-size: 100px;
}

.supplier-section1{
    background: #f4f4f4;
    margin-top: 40px;
}

.supplier-section1, .supplier-1{
    text-align: left;
    color: #833948;
    font-family: 'Secular One', sans-serif;
    font-size: 27px;
}

.contact-area li{
    list-style: none;
    text-align: left;
    font-size: 17px;
    color: black;
}

.btn{
    display: inline-block;
    padding-left: 45px;
    font-size: 12px;
    color: #eee;
    background: linear-gradient(to bottom right, #B1227A, #429AEE);
    cursor: pointer;
    align-items: right;
}

.cakes1, .box-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 1.5rem;
}

.cakes1 .box-container1 .box1{
    padding: 1rem;
    background: #fff;
    border-radius: 3rem;
    border: .2rem solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    text-align: left;
}

.cakes1 .box-container1 .box1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
